<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Job Application Tracker</title>
        <link rel="stylesheet" href="/views/index.css">
    </head>
    <body>
        <div class="container">

        </div>
        <h1>Job Applications</h1>
        <a>Add New Job</a>
        <table>
            <tr>
                <th>Company</th>
                <th>Position</th>
                <th>Status</th>
                <th>Date Applied</th>
                <th>Actions</th>
            </tr>
        </table>
    </body>
</html>