<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Job Application Tracker</title>
        <link rel="stylesheet" href="/landing.css"> 
    </head>
    <body>
        <h1>JobFlow</h1>
        <div>
            <h2>Meet JobFlow, your one stop for keeping track of all of your job applications.</h2>
        </div>
    </body>
</html>