<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Application Tracker</title>
    <link rel="stylesheet" href="/landing.css"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet"> 
</head>
<body>
    <h1>JobFlow</h1>
    <div>
        <h2>Meet JobFlow, your one stop for keeping track of all of your job applications.</h2>
        <p>Many people find it hard to keep up with job applications, especially with many outstanding applications at the same time. This is where JobFlow comes in—an app dedicated to helping you track all of your applications in one place, helping you navigate the crazy world of the job market.</p>
    </div>
    <div>
        <h2>Never lose track of your applications</h2>
        <ul>
            <li>Add new applications</li>
            <li>Edit your applications based on their current status</li>
            <li>Delete once you get an answer</li>
        </ul>
    </div>

    <!-- Button to navigate to the Job Application Tracker -->
    <a href="/index">
        <button class="cta-btn">Start Tracking Applications</button>
    </a>  
</body>
</html>
