body {
    font-family: Arial, sans-serif;
    color: #333;
    flex-direction: column;
    min-height: 100vh;
    
    background: linear-gradient(
        45deg,
        #151a1f,
        #4a69bd,
        #1451c4,
        #ff6f61,
        #87ceeb
    );
    background-size: 600% 600%;
    animation: GradientBackground 120s ease infinite;
    animation: GradientBackground 120s ease infinite,
    GradientAngle 560s linear infinite;
    position: relative;
    }
    
    @keyframes GradientBackground {
    0% {
    background-position: 0% 50%;
    }
    50% {
    background-position: 100% 50%;
    }
    100% {
    background-position: 0% 50%;
    }
    }
    
    h1 {
    font-size: 2.5rem;
    margin: 20px 0;
    color: #ffffff;
    }
    
    /* Section Styling */
    div {
        background: #ffffff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin: 20px;
        max-width: 600px;
    }
    
    /* Subheading */
    h2 {
        font-size: 1.8rem;
        color: #34495e;
    }
    
    /* Paragraph */
    p {
        font-size: 1.1rem;
        line-height: 1.6;
        color: #555;
    }
    
    /* List */
    ul {
        list-style-type: none;
        padding: 0;
    }
    
    li {
        font-size: 1.1rem;
        padding: 10px;
        background: #ecf0f1;
        margin: 5px 0;
        border-radius: 5px;
        transition: 0.3s;
    }
    
    li:hover {
        background: #3498db;
        color: white;
        cursor: pointer;
    } 

    .cta-btn {
        display: inline-block;
        margin-top: 20px;
        padding: 15px 30px;
        font-size: 1.2rem;
        font-weight: 600;
        color: white;
        background: #e74c3c;
        border: none;
        border-radius: 8px;
        cursor: pointer;    
        transition: background 0.3s ease, transform 0.3s ease;
    }


.cta-btn:hover {
    background: #ff6f61;
    transform: scale(1.05);
}